.background_container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #ece5ce;
    justify-content: center;
    align-items: center;
}

.chat_container {
    width: 80%;
    height: 80%;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
}

.users_chat {
    width: 30%;
    height: 100%;
    background-color: aqua;
}

.chat {
    flex: 1;
    background-color: white;
    /* display: flex; */
}

.chat_header {
    padding-top: 10%;
}

.messages {
    max-width: fit-content;
    width: 400px;
    min-height: 30px;
    max-height: fit-content;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
}